{
  "include": ["src/add.js", "src/capitalize.js", "src/ceil.js", "src/difference.js", "src/endsWith.js", "src/filter.js", "src/toString.js"],
  "exclude": ["node_modules", "src/.internal", "coverage", "test"],
  "reporter": ["lcov", "text"],
  "all": true,
  "check-coverage": true,
  "branches": 0,
  "lines": 0,
  "functions": 0,
  "statements": 0
}
